# configuration for the database connection for typeorm
DB_NAME=tc_stats_server
DB_USER=tc_stats_server
DB_PASSWORD=whatever

# for having a look-see at all the queries typeorm is generating
TYPEORM_LOG_QUERIES=false
# leave this alone
TYPEORM_SYNCH_DATABASE=false

# credentials for talking to the VR API
VRAPI_USER=tsapi_tc_884b
VRAPI_PASSWORD=whatever

# For uploading UTR reports to the seafile server
SEAFILE_URL=https://www.tcfiles.ca/api2
SEAFILE_ID=whatever
SEAFILE_PASSWORD=whatever
SEAFILE_REPO_NAME=UTR3


# When uploading tournaments from the VRAPI:
#  stop after this many
TOURNAMENT_UPLOAD_LIMIT=2
#  go back this far. Delete this once you are back to 2013
#  and the system will only look at the last several months.
TOURNAMENT_UPLOAD_START_YEAR=2013

# When uploading rankings publications from the VRAPI, stop after this many
# 2 is a good number for a running system
RANKING_PUBLICATION_UPLOAD_LIMIT=2

# When generating UTR reports, look back to matches from any tournaments that
# were updated in VR within the last n days
UTR_REPORT_GOES_BACK_IN_DAYS=7
